<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#/">Home</a></li>
    <li><a ng-href="#/inspire">Inspire</a></li>
  </ul>
  <h3 class="text-muted">ohgohere</h3>
</div>

<div class="jumbotron">
  <h1>Oh! Go Here!</h1>
  <p class="lead">
    <img src="images/nut.gif" alt="I'm Yeoman"><br>
    Let us help you find your nuts.
  </p>
</div>

<div class="panel panel-info" ng-repeat="itinerary in itineraries">
  <div class="panel-heading">
    <h4 class="panel-title">{{itinerary.location}} <small>{{itinerary.who}} / {{itinerary.when}}</small></h4>
  </div>
  <div class="panel-body">
    <p ng-repeat="place in itinerary.places">
      {{place.name}} for {{place.why}}
    </p>
  </div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Oh Go Here team</p>
</div>
